<div class="aside">
    <div class="aside-content">
        <div>
            <ul class="links-list">
                <a routerLink="/dashboard/statistics" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <li>
                        Statistics
                    </li>
                </a>
                <a routerLink="/dashboard/notebooks/create" routerLinkActive="active">
                    <li>Create notebook</li>
                </a>
                <a routerLink="/dashboard/monitors/create" routerLinkActive="active">
                    <li>Create monitor</li>
                </a>
                <a routerLink="/dashboard/parts/create" routerLinkActive="active">
                    <li>Create part</li>
                </a>
                <a routerLink="/dashboard/promotions" routerLinkActive="active">
                    <li>Promotions</li>
                </a>
                <a routerLink="/dashboard/admin-orders" routerLinkActive="active">
                    <li>Orders</li>
                </a>
                <a routerLink="/dashboard/edit-products" routerLinkActive="active">
                    <li>Edit products</li>
                </a>
            </ul>
        </div>
    </div>
</div>