<div class="aside">
    <div class="aside-content">
        <div>
            <ul class="links-list">
                <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <li>
                        Dashboard
                    </li>
                </a>
                <a routerLink="/dashboard/notebooks/create" routerLinkActive="active">
                    <li>Create notebook</li>
                </a>
                <a routerLink="/dashboard/monitors/create" routerLinkActive="active">
                    <li>Create monitor</li>
                </a>
                <a routerLink="/dashboard/parts/create" routerLinkActive="active">
                    <li>Create part</li>
                </a>
                <a routerLink="/dashboard/orders" routerLinkActive="active">
                    <li>Orders</li>
                </a>
                <a routerLink="/dashboard/products" routerLinkActive="active">
                    <li>Products</li>
                </a>
            </ul>
        </div>
    </div>
</div>