@import '../../shared/variables.scss';
.container {
    align-items: flex-start;
}

.profile {
    flex-basis: 80%;
    padding: 20px;
    box-shadow: 2px 2px 17px 2px rgba(0, 0, 0, 0.31);
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.profile label, .profile input {
    margin: 10px 0;
}

.profile label {
    flex-basis: 20%;
}

.profile input {
    flex-basis: 80%;
}

.profile-title {
    flex-basis: 100%;
    border-bottom: 1px solid lightgray;
}

.profile-parameter {
    flex-basis: 50%;
}

.profile-parameter:nth-child(6) {
    flex-basis: 100%;
}

.profile-btn-edit, .profile-btn-save {
    background: $primary-color;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    margin: 0 auto;
}

.profile-btn-save {
    margin: 0 10px 0 auto;
}

.profile-btn-cancel {
    background: $secondary-color;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    margin: 0 auto;
    margin: 0 auto 0 10px;
}

input[type="email"] {
    position: relative;
}

input.ng-touched.ng-invalid {
    border: 1px solid $primary-color;
}