@import "../../shared/variables.scss";
:host {
    font-size: 0.8rem;
}

.card-container {
    position: relative;
}

.card {
    padding: 20px;
    box-shadow: 2px 2px 17px 2px rgba(0, 0, 0, 0.31);
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
}

.card img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    object-fit: contain;
}

a {
    text-decoration: none;
    color: black;
}

.parameters {
    height: 110px;
}

.parameter {
    text-align: start;
}

.parameter-square {
    font-size: 8px;
    position: absolute;
}

.controls-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.promo-price, .price {
    text-align: start;
    font-size: 1.5rem;
    font-weight: 800;
}

.promo-price {
    color: $primary-color;
}

.add-cart, .add-wishlist {
    text-align: center;
    width: 60px;
    height: 40px;
    background: $primary-color;
    border: none;
    border-radius: 5px;
    color: white;
}

.price-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5px;
}

.cart-container-add-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}

.cart-container-wishlist-btn {
    position: absolute;
    bottom: 20px;
    right: 100px;
    cursor: pointer;
}

.add-wishlist {
    background: $secondary-color;
}
