<div class="card-container">
    <a routerLink="/{{category}}/{{type}}/{{product._id}}">
        <div class="card">
            <img src="{{product.images[0]}}" alt="product-image">
            <h3>{{product.brand}} {{product.model}}</h3>
            <div class="parameters" *ngIf="type == 'notebooks'">
                <div class="parameter">
                    <span>Processor: </span>
                    <strong>{{product.processorBrand}} {{product.processorModel}}</strong>
                </div>
                <div class="parameter">
                    <span>Video card: </span>
                    <strong>{{product.graphics}}</strong>
                </div>
                <div class="parameter">
                    <span>Memory: </span>
                    <strong>{{product.memoryCapacity}}GB {{product.memoryType}}</strong>
                </div>
                <div class="parameter">
                    <span>Storage: </span>
                    <strong>{{product.storage}}</strong>
                </div>
                <div class="parameter">
                    <span>Display: </span>
                    <strong>{{product.displaySize}}'' {{product.displayResolution}}</strong>
                </div>
            </div>
            <div class="parameters" *ngIf="type == 'monitors'">
                <div class="parameter">
                    <span>Display type: </span>
                    <strong>{{product.type}}</strong>
                </div>
                <div class="parameter">
                    <span>Resolution: </span>
                    <strong>{{product.resolution}}</strong>
                </div>
                <div class="parameter">
                    <span>Refresh rate: </span>
                    <strong>{{product.refreshRate}}Hz</strong>
                </div>
                <div class="parameter">
                    <span>Response time: </span>
                    <strong>{{product.responseTime}} ms</strong>
                </div>
                <div class="parameter">
                    <span>Brightness: </span>
                    <strong>{{product.brightness}} cd/m<span class="parameter-square">2</span></strong>
                </div>
            </div>
            <div class="parameters" *ngIf="type == 'processors'">
                <div class="parameter">
                    <span>Cores: </span>
                    <strong>{{product.cores}}</strong>
                </div>
                <div class="parameter">
                    <span>Threads: </span>
                    <strong>{{product.threads}}</strong>
                </div>
                <div class="parameter">
                    <span>Base clock: </span>
                    <strong>{{product.baseClock}} GHz</strong>
                </div>
                <div class="parameter">
                    <span>Boost clock: </span>
                    <strong>{{product.boostClock}} GHz</strong>
                </div>
                <div class="parameter">
                    <span>Cache: </span>
                    <strong>{{product.cache}} MB</strong>
                </div>
            </div>
            <div class="parameters" *ngIf="type == 'cases'">
                <div class="parameter">
                    <span>Form factor: </span>
                    <strong>{{product.formFactor}}</strong>
                </div>
                <div class="parameter">
                    <span>Format: </span>
                    <strong>{{product.supportedMB}}</strong>
                </div>
                <div class="parameter">
                    <span>Height: </span>
                    <strong>{{product.height}} mm</strong>
                </div>
                <div class="parameter">
                    <span>Width: </span>
                    <strong>{{product.width}} mm</strong>
                </div>
                <div class="parameter">
                    <span>Length: </span>
                    <strong>{{product.length}} mm</strong>
                </div>
            </div>
            <div class="parameters" *ngIf="type == 'coolers'">
                <div class="parameter">
                    <span>Type: </span>
                    <strong>{{product.type}}</strong>
                </div>
                <div class="parameter">
                    <span>Fan size: </span>
                    <strong>{{product.fanSize}} cm</strong>
                </div>
                <div class="parameter">
                    <span>Max fan RPM: </span>
                    <strong>{{product.fanRPM}} RPM</strong>
                </div>
                <div class="parameter">
                    <span>Airflow: </span>
                    <strong>{{product.airflow}} CFM</strong>
                </div>
                <div class="parameter">
                    <span>Noise: </span>
                    <strong>{{product.noise}} dBA</strong>
                </div>
            </div>
            <div class="parameters" *ngIf="type == 'hdds'">
                <div class="parameter">
                    <span>Capacity: </span>
                    <strong>{{product.capacity}} GB</strong>
                </div>
                <div class="parameter">
                    <span>Interface: </span>
                    <strong>{{product.interface}}</strong>
                </div>
                <div class="parameter">
                    <span>Form factor: </span>
                    <strong>{{product.formFactor}}</strong>
                </div>
                <div class="parameter">
                    <span>Read speed: </span>
                    <strong>{{product.readSpeed}} MB/s</strong>
                </div>
                <div class="parameter">
                    <span>Write speed: </span>
                    <strong>{{product.writeSpeed}} MB/s</strong>
                </div>
            </div>
            <div class="parameters" *ngIf="type == 'ssds'">
                <div class="parameter">
                    <span>Capacity: </span>
                    <strong>{{product.capacity}} GB</strong>
                </div>
                <div class="parameter">
                    <span>Interface: </span>
                    <strong>{{product.interface}}</strong>
                </div>
                <div class="parameter">
                    <span>Form factor: </span>
                    <strong>{{product.formFactor}}</strong>
                </div>
                <div class="parameter">
                    <span>Read speed: </span>
                    <strong>{{product.readSpeed}} MB/s</strong>
                </div>
                <div class="parameter">
                    <span>Write speed: </span>
                    <strong>{{product.writeSpeed}} MB/s</strong>
                </div>
            </div>
            <div class="parameters" *ngIf="type == 'memories'">
                <div class="parameter">
                    <span>Capacity: </span>
                    <strong>{{product.ramCapacity}} GB</strong>
                </div>
                <div class="parameter">
                    <span>Platform: </span>
                    <strong>{{product.platform}}</strong>
                </div>
                <div class="parameter">
                    <span>Type: </span>
                    <strong>{{product.memoryType}}</strong>
                </div>
                <div class="parameter">
                    <span>Speed: </span>
                    <strong>{{product.memorySpeeds}} MHz</strong>
                </div>
                <div class="parameter">
                    <span>Timings: </span>
                    <strong>{{product.timings}}</strong>
                </div>
            </div>
            <div class="parameters" *ngIf="type == 'motherboards'">
                <div class="parameter">
                    <span>Form factor: </span>
                    <strong>{{product.formFactor}}</strong>
                </div>
                <div class="parameter">
                    <span>Socket: </span>
                    <strong>{{product.socket}}</strong>
                </div>
                <div class="parameter">
                    <span>Chipset: </span>
                    <strong>{{product.chipset}}</strong>
                </div>
                <div class="parameter">
                    <span>Memory slots: </span>
                    <strong>{{product.memorySlots}}</strong>
                </div>
                <div class="parameter">
                    <span>Memory capacity: </span>
                    <strong>{{product.ramCapacity}} GB</strong>
                </div>
            </div>
            <div class="parameters" *ngIf="type == 'psus'">
                <div class="parameter">
                    <span>Form factor: </span>
                    <strong>{{product.formFactor}}</strong>
                </div>
                <div class="parameter">
                    <span>Certificate: </span>
                    <strong>{{product.certificate}}</strong>
                </div>
                <div class="parameter">
                    <span>Efficiency: </span>
                    <strong>{{product.efficiency}}</strong>
                </div>
                <div class="parameter">
                    <span>Connectors: </span>
                    <strong>{{product.connectors | shortenText}}</strong>
                </div>
            </div>
            <div class="parameters" *ngIf="type == 'vgas'">
                <div class="parameter">
                    <span>Cores: </span>
                    <strong>{{product.cores}}</strong>
                </div>
                <div class="parameter">
                    <span>Game clock: </span>
                    <strong>{{product.gameClock}} MHz</strong>
                </div>
                <div class="parameter">
                    <span>Boost clock: </span>
                    <strong>{{product.boostClock}} MHz</strong>
                </div>
                <div class="parameter">
                    <span>Memory: </span>
                    <strong>{{product.memory}} GB</strong>
                </div>
                <div class="parameter">
                    <span>Memory clock: </span>
                    <strong>{{product.memoryClock}} Gbps</strong>
                </div>
            </div>
            <div class="controls-container">
                <div class="price-container">
                    <div *ngIf="product.promoPrice">
                        <span class="promo-price">$ {{product.promoPrice}}</span>
                    </div>
                    <div *ngIf="!product.promoPrice">
                        <span class="price">$ {{product.price}}</span>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <button type="button" class="cart-container-wishlist-btn add-wishlist" (click)="onAddToWishlist(product)">
        <fa-icon [icon]="faHeart" size="lg"></fa-icon>
    </button>
    <button type="button" class="cart-container-add-btn add-cart" (click)="onAddToCart(product)">
        <fa-icon [icon]="faCartPlus" size="lg"></fa-icon>
    </button>
</div>