<div class="notifications">
    <app-spinner *ngIf="isLoading"></app-spinner>
    <app-notification (closeNotification)="onCloseNotification()" *ngIf="message && msgType" [type]="msgType" [message]="message"></app-notification>
</div>
<div class="container" *ngIf="!isLoading && products.length > 0">
    <app-aside></app-aside>
    <ul class="products" *ngIf="productType && products.length > 0">
        <li *ngFor="let product of products">
            <app-product-list-item [product]="product" [type]="productType" [category]="category">
            </app-product-list-item>
        </li>
    </ul>
</div>