<div class="controls" *ngIf="product">
    <div>
        <div class="tooltip-container">
            <fa-icon [icon]="faCheckSquare" size="lg" [ngClass]="quantityClass"></fa-icon>
            <span class="tooltip">{{quantityMessage}}</span>
        </div>
        <div class="price-container">
            <div *ngIf="product!.promoPrice !== 0">
                <span class="old-price-sign">$ </span>
                <span class="old-price">{{product!.price}}</span>
            </div>
            <div *ngIf="product.promoPrice">
                <span class="promo-price">$ {{product.promoPrice}}</span>
            </div>
            <div *ngIf="!product.promoPrice">
                <span class="price">$ {{product.price}}</span>
            </div>
        </div>
    </div>
    <div>
        <button class="cart" (click)="onAddToCartClick()">
            <fa-icon [icon]="faCartPlus" size="lg"></fa-icon>
        </button>
        <button class="wishlist" (click)="onAddToWishlistClick()">
            <fa-icon [icon]="faHeart" size="lg"></fa-icon>
        </button>
        <button *ngIf="user$ | async" (click)="onAddReview()" class="wishlist">
            <fa-icon [icon]="faComment" size="lg"></fa-icon>
        </button>
    </div>
    <app-add-comment-modal *ngIf="showModal" (commentCreated)="onCommentCreated()" (hideModal)="onHideModal()"
        [product]="product" [productName]="productName"></app-add-comment-modal>
</div>