@import "../variables.scss";

.controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: rgb(235, 235, 235);
}

.controls input.cart,
input.wishlist {
    margin: 10px;
    background: $primary-color;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
}

.controls input.wishlist {
    background: $secondary-color;
}

.price {
    text-align: start;
    font-size: 1.5rem;
    font-weight: 800;
}

.old-price,
.promo-price {
    text-align: start;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 10px;
}

.old-price {
    color: gray;
    position: relative;
    margin-left: 50px;
}

.old-price > span::after {
    content: "";
    background-color: gray;
    width: 60px;
    height: 2px;
    position: absolute;
    left: 18px;
    transform: rotate(160deg);
    top: 16px;
}

.promo-price {
    color: $primary-color;
}

.green, .yellow, .red {
    color: green;
    position: absolute;
    left: 10px;
    top: -27px;
    font-size: 1.2rem;
}

.yellow {
    color: #ffc107;
}

.red {
    color: $primary-color;
}

.tooltip {
    opacity: 0;
    width: 200px;
    background-color: $secondary-color;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    left: -193px;
    top: -50px;
    position: absolute;
    z-index: 1;
    transition: 500ms all;
}

.tooltip-container {
    position: relative;
}

.tooltip-container>fa-icon:hover + .tooltip {
    opacity: 1;
}
