<div class="container">
    <h2>About us:</h2>
    <p id="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dignissim rutrum eros. Donec ut ante tempus
        augue tristique feugiat. Donec finibus mauris ut sem placerat eleifend. Curabitur gravida a ipsum ut mattis.
        Duis eu rhoncus purus. Fusce ullamcorper condimentum tincidunt. Aenean nec tempor elit. Nullam a luctus magna,
        nec porta ex. Donec placerat cursus vehicula. Vestibulum semper porta diam ac tincidunt. Aenean sit amet
        eleifend ipsum. Etiam sollicitudin, erat id blandit pharetra, metus risus sagittis elit, eu tempus massa enim
        vitae quam. Suspendisse euismod finibus pharetra. Cras cursus at nibh malesuada dapibus.

        Nunc at dui magna. Praesent blandit ornare nulla, nec fermentum erat lacinia non. Aliquam erat volutpat.
        Praesent massa neque, viverra in lacus quis, semper ornare nibh. Fusce elementum eros luctus quam consequat
        faucibus. Duis dapibus non tellus sit amet egestas. Nulla ultricies ligula blandit ante volutpat, ut malesuada
        elit vehicula. Quisque lorem arcu, egestas ac metus in, condimentum tristique quam. Ut sed ipsum lacus.</p>
    <h2>Contacts:</h2>
    <div class="container contacts">
        <p><a href="mailto:support@magazine.com">support@magazine.com</a> - for general questions</p>
        <p><a href="mailto:service@magazine.com">service@magazine.com</a> - for service questions</p>
    </div>
    <div class="coordinates">
        <div class="coordinates-container">
            <div>
                <h4>Central office and showroom</h4>
                <p>Some address</p>
                <p>Working hours: 09:00 - 18:00 from monday to friday</p>
                <p>Phone: 0 700 00 000</p>
            </div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4931.414327609362!2d23.313959270335275!3d42.69871277574691!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa8569a7b8f119%3A0x2ad586e5ca8a3d27!2sul.%20%22Tsar%20Samuil%22%2C%20Sofia!5e0!3m2!1sen!2sbg!4v1614170181791!5m2!1sen!2sbg"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="coordinates-container">
            <div>
                <h4>Service office</h4>
                <p>Some address</p>
                <p>Working hours: 09:00 - 18:00 from monday to friday</p>
                <p>Phone: 0 700 00 000</p>
            </div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4931.414327609362!2d23.313959270335275!3d42.69871277574691!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa8569a7b8f119%3A0x2ad586e5ca8a3d27!2sul.%20%22Tsar%20Samuil%22%2C%20Sofia!5e0!3m2!1sen!2sbg!4v1614170181791!5m2!1sen!2sbg"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>