<div class="aside">
    <div class="aside-content" *ngIf="(user$ | async) !== null">
        <div>
            User presented
        </div>
    </div>
    <div class="aside-content" *ngIf="(user$ | async) == null">
        <img src="../../../assets/anonymous-user.png" alt="user-image">
        <h3 class="anonymous-title">You are anonymous user currently.</h3>
        <p>Login or register so you can access extra functionality.</p>
        <a routerLink="/login">Login</a>
        <a routerLink="/register" class="blue">Register</a>
    </div>
</div>