<form *ngIf="!editMode">
    <label for="component">Choose component:</label>
    <select [ngModel]="selectedPart" (ngModelChange)="getComponent($event)" name="component" id="component">
        <option value="processors">Processor</option>
        <option value="memories">Memory</option>
        <option value="hdds">HDD/SSD</option>
        <option value="vgas">Graphics</option>
        <option value="motherboards">Motherboard</option>
        <option value="cases">Case</option>
        <option value="psus">PSU</option>
        <option value="coolers">Cooler</option>
    </select>
</form>
<div class="form-container">
    <app-create-processor *ngIf="selectedPart == 'processors'" (submitForm)="onSubmit($event)"
        (submitFiles)="onFilesSubmitted($event)"></app-create-processor>
    <app-create-vga *ngIf="selectedPart == 'vgas'" (submitForm)="onSubmit($event)"
        (submitFiles)="onFilesSubmitted($event)"></app-create-vga>
    <app-create-motherboard *ngIf="selectedPart == 'motherboards'" (submitForm)="onSubmit($event)"
        (submitFiles)="onFilesSubmitted($event)"></app-create-motherboard>
    <app-create-memory *ngIf="selectedPart == 'memories'" (submitForm)="onSubmit($event)"
        (submitFiles)="onFilesSubmitted($event)"></app-create-memory>
    <app-create-hdd *ngIf="selectedPart == 'hdds'" (submitForm)="onSubmit($event)"
        (submitFiles)="onFilesSubmitted($event)"></app-create-hdd>
    <app-create-case *ngIf="selectedPart == 'cases'" (submitForm)="onSubmit($event)"
        (submitFiles)="onFilesSubmitted($event)"></app-create-case>
    <app-create-power-supply *ngIf="selectedPart == 'psus'" (submitForm)="onSubmit($event)"
        (submitFiles)="onFilesSubmitted($event)"></app-create-power-supply>
    <app-create-cooler *ngIf="selectedPart == 'coolers'" (submitForm)="onSubmit($event)"
        (submitFiles)="onFilesSubmitted($event)"></app-create-cooler>
</div>