:host {
    flex-basis: 15%;
}

.aside-container {
    width: 250px;
    padding: 20px;
    box-shadow: 2px 2px 17px 2px rgba(0, 0, 0, 0.31);
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
}

@media (max-width: 767.98px) {
    .aside-container {
        width: 100%;
    }
}