<form (ngSubmit)="onSubmit()" #f="ngForm" enctype="multipart/form-data" *ngIf="vga">
    <label for="brand">Brand:</label>
    <input ngModel #brand="ngModel" type="text" name="brand" id="brand" [(ngModel)]="vga.brand">
    <label for="model">Model:</label>
    <input ngModel #model="ngModel" type="text" name="model" id="model" [(ngModel)]="vga.model">
    <label for="cores">Cores:</label>
    <input ngModel #cores="ngModel" type="number" name="cores" id="cores" [(ngModel)]="vga.cores">
    <label for="gameClock">Game Clock:</label>
    <input ngModel #base="ngModel" type="number" name="gameClock" id="gameClock" [(ngModel)]="vga.gameClock">
    <label for="boostClock">Boost Clock:</label>
    <input ngModel #boost="ngModel" type="number" name="boostClock" id="boostClock" [(ngModel)]="vga.boostClock">
    <label for="memory">Memory:</label>
    <input ngModel #memory="ngModel" type="number" name="memory" id="memory" [(ngModel)]="vga.memory">
    <label for="memoryClock">Memory clock:</label>
    <input ngModel #memoryClock="ngModel" type="number" name="memoryClock" id="memoryClock" [(ngModel)]="vga.memoryClock">
    <label for="connectors">Connectors:</label>
    <input ngModel #connectors="ngModel" type="text" name="connectors" id="connectors" [(ngModel)]="vga.connectors">
    <label for="power">Power requirements:</label>
    <input ngModel #power="ngModel" type="text" name="power" id="power" [(ngModel)]="vga.power">
    <label for="warranty">Warranty:</label>
    <input ngModel #warranty="ngModel" type="number" name="warranty" id="warranty" [(ngModel)]="vga.warranty">
    <label for="image">Images:</label>
    <input (change)="onFileSelected($event)" type="file" name="image" id="image" multiple>
    <label for="price">Price:</label>
    <input ngModel #price="ngModel" type="number" name="price" id="price" [(ngModel)]="vga.price">
    <label for="promoPrice">Promo price:</label>
    <input ngModel #promoPrice="ngModel" type="number" name="promoPrice" id="promoPrice" [(ngModel)]="vga.promoPrice">
    <label for="quantity">Quantity:</label>
    <input ngModel #quantity="ngModel" type="number" name="quantity" id="quantity" [(ngModel)]="vga.quantity">
    <input type="submit" value="Create" *ngIf="!editMode">
    <input type="submit" value="Edit" *ngIf="editMode">
</form>