<form (ngSubmit)="onSubmit()" #f="ngForm" enctype="multipart/form-data" *ngIf="psu">
    <label for="brand">Brand:</label>
    <input ngModel #brand="ngModel" type="text" name="brand" id="brand" [(ngModel)]="psu.brand">
    <label for="model">Model:</label>
    <input ngModel #model="ngModel" type="text" name="model" id="model" [(ngModel)]="psu.model">
    <label for="formFactor">From factor:</label>
    <input ngModel #formFactor="ngModel" type="text" name="formFactor" id="formFactor" [(ngModel)]="psu.formFactor">
    <label for="certificate">Certificate:</label>
    <input ngModel #certificate="ngModel" type="text" name="certificate" id="certificate" [(ngModel)]="psu.certificate">
    <label for="efficiency">Efficiency:</label>
    <input ngModel #efficiency="ngModel" type="text" name="efficiency" id="efficiency" [(ngModel)]="psu.efficiency">
    <label for="type">Type:</label>
    <select ngModel="modular" #type="ngModel" name="type" id="type" [(ngModel)]="psu.type">
        <option value="modular" selected>Fully Modular</option>
        <option value="halfModular">Half modular</option>
        <option value="noneModular">None modular</option>
    </select>
    <label for="connectors">Connectors:</label>
    <input ngModel #connectors="ngModel" type="text" name="connectors" id="connectors" [(ngModel)]="psu.connectors">
    <label for="warranty">Warranty:</label>
    <input ngModel #warranty="ngModel" type="number" name="warranty" id="warranty" [(ngModel)]="psu.warranty">
    <label for="image">Images:</label>
    <input (change)="onFileSelected($event)" type="file" name="image" id="image" multiple>
    <label for="price">Price:</label>
    <input ngModel #price="ngModel" type="number" name="price" id="price" [(ngModel)]="psu.price">
    <label for="promoPrice">Promo price:</label>
    <input ngModel #promoPrice="ngModel" type="number" name="promoPrice" id="promoPrice" [(ngModel)]="psu.promoPrice">
    <label for="quantity">Quantity:</label>
    <input ngModel #quantity="ngModel" type="number" name="quantity" id="quantity" [(ngModel)]="psu.quantity">
    <input type="submit" value="Create" *ngIf="!editMode">
    <input type="submit" value="Edit" *ngIf="editMode">
</form>