@import "../../shared/variables.scss";

.content {
    flex-basis: 60%;
}

.parameters {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.parameter {
    font-weight: 600;
}

.notifications {
    display: flex;
    align-items: center;
    justify-content: center;
}