<div class="notifications">
<app-spinner *ngIf="isLoading"></app-spinner>
<app-notification *ngIf="message && msgType" [type]="msgType" [message]="message" (closeNotification)="onCloseNotification()"></app-notification>
</div>
<div class="container" *ngIf="notebook">
    <app-images [images]="notebook.images"></app-images>
    <div class="content">
        <h2>{{notebook.brand}} {{notebook.model}}</h2>
        <app-controls (showModalEvent)="onShowModal($event)" [showModal]="showModal" [product]="notebook" [productName]="'notebooks'"></app-controls>
        <div>
            <h3>Parameters:</h3>
            <div class="parameters">
                <div class="parameter">Processor:</div>
                <div class="value">{{notebook.processor}}</div>
                <div class="parameter">Video card:</div>
                <div class="value">{{notebook.graphics}}</div>
                <div class="parameter">Memory:</div>
                <div class="value">{{notebook.memoryCapacity}}GB {{notebook.memoryType}} {{notebook.memorySpeed}}Mhz
                </div>
                <div class="parameter">Storage:</div>
                <div class="value">{{notebook.storage}}</div>
                <div class="parameter">Display:</div>
                <div class="value">{{notebook.display}}</div>
                <div class="parameter">Ports:</div>
                <div class="value">{{notebook.ports}}</div>
                <div class="parameter">Weight:</div>
                <div class="value">{{notebook.weight}}kg</div>
                <div class="parameter">Dimensions:</div>
                <div class="value">{{notebook.dimensions}}</div>
                <div class="parameter">Color:</div>
                <div class="value">{{notebook.color}}</div>
                <div class="parameter">Battery:</div>
                <div class="value">{{notebook.battery}}</div>
                <div class="parameter">Operating system:</div>
                <div class="value">{{notebook.OS}}</div>
                <div class="parameter">Warranty:</div>
                <div class="value">{{notebook.warranty}} months</div>
            </div>
        </div>
    </div>
    <app-comments [productId]="id"></app-comments>
</div>