<div class="container">
    <app-promotion-carousel></app-promotion-carousel>
</div>
<section class="benefits">
    <div class="container">
        <article class="benefits-content">
            <h1 class="benefits-content-title">Richest choice</h1>
            <p class="benefits-content-subtitle">Choose from many different notebooks, computer parts and more</p>
            <p class="benefits-content-subtitle">You can find the best offers with click of your finger</p>
        </article>
        <article class="benefits-content">
            <h1 class="benefits-content-title">Fast delivery</h1>
            <p class="benefits-content-subtitle">Delivery is made at your most convenient time</p>
            <p class="benefits-content-subtitle">For orders of $ 100 and higher the delivery is free of charge</p>
        </article>
        <article class="benefits-content">
            <h1 class="benefits-content-title">Quality warranty service</h1>
            <p class="benefits-content-subtitle">We have the best warranty service</p>
            <p class="benefits-content-subtitle">You have 30 days try period for free return and cancel your order </p>
        </article>
    </div>
</section>
<div class="container">
    <app-promo-products-carousel></app-promo-products-carousel>
</div>