@import '../../shared/variables.scss';
.container {
    align-items: flex-start;
}

.products-container {
    flex-basis: 80%;
    padding: 20px;
    box-shadow: 2px 2px 17px 2px rgba(0, 0, 0, 0.31);
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
}

.products-container h3 {
    margin: 0;
    border-bottom: 1px solid lightgray;
}

.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    border-bottom: 1px solid lightgray;
}

.product img {
    width: 80px;
    height: 80px;
    margin: 20px;
    object-fit: contain;
}

.product-link {
    text-decoration: none;
    color: black;
    flex-basis: 132%;
}

.product-title {
    display: flex;
    align-items: center;
}

.product-title p {
    margin-left: 20px;
}

.prices {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 50%;
}

button {
    background: $primary-color;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    margin: 0 10px;
    width: 28px;
    height: 28px;
}

.btn-remove {
    background: $secondary-color;
    font-weight: bolder;
}

.quantity-control {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 25%;
    font-size: 1.5rem;
}

.quantity-control fa-icon {
    margin: 0 10px;
    cursor: pointer;
}

.quantity {
    width: 20px;
}

.red {
    color: $primary-color;
}

.green {
    color: green;
}

form {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
}

form label, form input {
    margin: 10px 0;
}

form label {
    text-align: initial;
    flex-basis: 13%;
    margin-left: 20px;
}

form input {
    flex-basis: 30%;
}

.profile-title {
    flex-basis: 100%;
}

.total {
    border-bottom: 1px solid lightgray;
}

.total p {
    width: 25%;
    margin: 0 0 0 auto;
    text-align: left;
}

.total-price {
    font-size: 1.5rem;
}

.form-title {
    flex-basis: 100%;
    border-bottom: none;
    padding: 10px;
}

.btn-container {
    flex-basis: 100%;
}

.btn-order {
    background: $primary-color;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    margin: 0 auto;
    width: 200px;
}

.old-price {
    color: gray;
    position: relative;
    margin-right: 20px;
}

.old-price::after {
    content: "";
    background-color: gray;
    width: 100%;
    height: 2px;
    position: absolute;
    right: 0;
    transform: rotate(160deg);
    top: 16px;
}

.price-container {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.promo-price, .old-price, .price {
    text-align: start;
    font-size: 1.5rem;
    font-weight: 800;
}

.promo-price {
    color: $primary-color;
}

.old-price-sign {
    text-align: start;
    font-size: 1.5rem;
    font-weight: 800;
    color: gray;
}