<section class="promotions" *ngFor="let promo of promotions">
    <article class="promo">
        <div class="promo-name">Active promo: {{promo.promoName}}</div>
        <div class="promo-controls">
            <a class="promo-link" href="/promotions/{{promo.productType | productType}}/{{promo._id}}">Go to promo</a>
            <button class="promo-btn-delete" (click)="onDeleteClick(promo)">X</button>
        </div>
    </article>
</section>
<div class="modal-background" *ngIf="showModal" (click)="onCancelClick()"></div>
<div class="modal-confirmation" *ngIf="showModal">
    <h4>Confirm order delete?</h4>
    <button class="modal-btn-confirm" (click)="onConfirmedDelete()">Confirm</button>
    <button class="modal-btn-cancel" (click)="onCancelClick()">Cancel</button>
</div>