<div class="form-container">
    <form (ngSubmit)="onSubmit()" #f="ngForm" enctype="multipart/form-data">
        <label for="brand">Brand:</label>
        <input ngModel #brand="ngModel" type="text" name="brand" id="brand" [ngModel]="processor?.brand" required>
        <label for="model">Model:</label>
        <input ngModel #model="ngModel" type="text" name="model" id="model" [ngModel]="processor?.model" required>
        <label for="cores">Cores:</label>
        <input ngModel #cores="ngModel" type="number" name="cores" id="cores" [ngModel]="processor?.cores" required>
        <label for="threads">Threads:</label>
        <input ngModel #threads="ngModel" type="number" name="threads" id="threads" [ngModel]="processor?.threads"
            required>
        <label for="baseClock">Base Clock:</label>
        <input ngModel #base="ngModel" type="number" name="baseClock" id="baseClock" [ngModel]="processor?.baseClock"
            required>
        <label for="boostClock">Boost Clock:</label>
        <input ngModel #boost="ngModel" type="number" name="boostClock" id="boostClock"
            [ngModel]="processor?.boostClock" required>
        <label for="cache">Cache:</label>
        <input ngModel #cache="ngModel" type="number" name="cache" id="cache" [ngModel]="processor?.cache" required>
        <label for="box" class="checkbox">
            <input ngModel #box type="checkbox" name="box" id="box" [ngModel]="processor?.box"> Box cooler
            included
        </label>
        <label for="warranty">Warranty:</label>
        <input ngModel #warranty="ngModel" type="number" name="warranty" id="warranty" [ngModel]="processor?.warranty"
            required>
        <label for="image">Images:</label>
        <input (change)="onFileSelected($event)" type="file" name="image" id="image" multiple required>
        <label for="price">Price:</label>
        <input ngModel #price="ngModel" type="number" name="price" id="price" [ngModel]="processor?.price" required>
        <label for="promoPrice">Promo price:</label>
        <input ngModel #promoPrice="ngModel" type="number" name="promoPrice" id="promoPrice"
            [ngModel]="processor?.promoPrice" required>
        <label for="quantity">Quantity:</label>
        <input ngModel #quantity="ngModel" type="number" name="quantity" id="quantity" [ngModel]="processor?.quantity"
            required>
        <input type="submit" value="Create" *ngIf="!editMode" [disabled]="f.invalid">
        <input type="submit" value="Edit" *ngIf="editMode" [disabled]="f.invalid">
    </form>
</div>