@import "../../../shared/variables.scss";
ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid $primary-color;
    list-style: none;
    padding: 10px;
}

ul li {
    position: relative;
    width: 250px;
    text-align: center;
}

form {
    margin: 0 auto;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

input,
select {
    flex-basis: 70%;
    margin: 20px 0 0 0;
}

label {
    flex-basis: 30%;
    margin: 20px 0 0 0;
}

input[type="submit"] {
    background: $primary-color;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
}

input[type="email"],
input[type="password"] {
    height: 2rem;
    padding: 14px;
}

.checkbox {
    flex-basis: 100%;
    margin-top: 0;
}

input.ng-touched.ng-invalid {
    border: 1px solid $primary-color;
}

input[type="submit"]:disabled {
    background: gray;
}

@media (max-width: 767.98px) {
    :host {
        width: 100%;
    }

    form {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    form input, form label {
        width: 70%;
        margin: 10px 0 0 0;
    }

    form input[type="submit"] {
        width: 50%;
    }
}