ul.products {
    list-style: none;
    flex-basis: calc(100% - 280px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    gap: 0 20px;
    margin: 0;
    padding: 0;
}

.container {
    align-items: flex-start;
}

ul li {
    max-width: 300px;
}

app-paginator {
    flex-basis: 100%;
}

@media (max-width: 767.98px) {
    .container {
        flex-direction: column;
    }

    ul {
        width: 100%;
    }

    ul li {
        max-width: none;
    }
}
