<form>
    <label for="component">Choose component:</label>
    <select [(ngModel)]="selectedPart" (ngModelChange)="getComponent($event)" name="component" id="component">
        <option value="processor">Processor</option>
        <option value="memory">Memory</option>
        <option value="hdd">HDD/SSD</option>
        <option value="vga">Graphics</option>
        <option value="motherboard">Motherboard</option>
    </select>
</form>
<div class="form-container">
    <form (ngSubmit)="onSubmit()" #f="ngForm" enctype="multipart/form-data">
        <label for="brand">Brand:</label>
        <input ngModel #brand="ngModel" type="text" name="brand" id="brand">
        <label for="model">Model:</label>
        <input ngModel #model="ngModel" type="text" name="model" id="model">
        <div class="form" *ngIf="selectedPart == 'processor'">
            <label for="cores">Cores:</label>
            <input ngModel #cores="ngModel" type="number" name="cores" id="cores">
            <label for="threads">Threads:</label>
            <input ngModel #threads="ngModel" type="number" name="threads" id="threads">
            <label for="baseClock">Base Clock:</label>
            <input ngModel #base="ngModel" type="number" name="baseClock" id="baseClock">
            <label for="boostClock">Boost Clock:</label>
            <input ngModel #boost="ngModel" type="number" name="boostClock" id="boostClock">
            <label for="cache">Cache:</label>
            <input ngModel #cache="ngModel" type="number" name="cache" id="cache">
            <label for="box" class="checkbox">
                <input ngModel #box type="checkbox" name="box" id="box"> Box cooler included
            </label>
        </div>
        <div class="form" *ngIf="selectedPart == 'vga'">
            <label for="cores">Cores:</label>
            <input ngModel #cores="ngModel" type="number" name="cores" id="cores">
            <label for="gameClock">Game Clock:</label>
            <input ngModel #base="ngModel" type="number" name="gameClock" id="gameClock">
            <label for="boostClock">Boost Clock:</label>
            <input ngModel #boost="ngModel" type="number" name="boostClock" id="boostClock">
            <label for="memory">Memory:</label>
            <input ngModel #memory="ngModel" type="number" name="memory" id="memory">
            <label for="memoryClock">Memory clock:</label>
            <input ngModel #memoryClock="ngModel" type="number" name="memoryClock" id="memoryClock">
            <label for="connectors">Connectors:</label>
            <input ngModel #connectors="ngModel" type="text" name="connectors" id="connectors">
            <label for="power">Power requirements:</label>
            <input ngModel #power="ngModel" type="text" name="power" id="power">
        </div>
        <div class="form" *ngIf="selectedPart == 'motherboard'">
            <label for="socket">Socket:</label>
            <input ngModel #socket="ngModel" type="text" name="socket" id="socket">
            <label for="formFactor">From factor:</label>
            <input ngModel #formFactor="ngModel" type="text" name="formFactor" id="formFactor">
            <label for="chipset">Chipset:</label>
            <input ngModel #chipset="ngModel" type="text" name="chipset" id="chipset">
            <label for="memorySlots">Memory slots:</label>
            <input ngModel #memorySlots="ngModel" type="number" name="memorySlots" id="memorySlots">
            <label for="memorySpeeds">Memory speeds:</label>
            <input ngModel #memorySpeeds="ngModel" type="text" name="memorySpeeds" id="memorySpeeds">
            <label for="ramCapacity">RAM capacity:</label>
            <input ngModel #ramCapacity="ngModel" type="number" name="ramCapacity" id="ramCapacity">
            <label for="audio">Audio:</label>
            <input ngModel #audio="ngModel" type="text" name="audio" id="audio">
            <label for="lan">LAN:</label>
            <input ngModel #lan="ngModel" type="text" name="lan" id="lan">
            <label for="wireless">Wireless:</label>
            <input ngModel #wireless="ngModel" type="text" name="wireless" id="wireless">
            <label for="connectors">Connectors:</label>
            <input ngModel #connectors="ngModel" type="text" name="connectors" id="connectors">
            <label for="storage">Storage slots:</label>
            <input ngModel #storage="ngModel" type="text" name="storage" id="storage">
        </div>
        <div class="form" *ngIf="selectedPart == 'memory'">
            <label for="ramCapacity">RAM capacity:</label>
            <input ngModel #ramCapacity="ngModel" type="number" name="ramCapacity" id="ramCapacity">
            <label for="memorySpeeds">Memory speeds:</label>
            <input ngModel #memorySpeeds="ngModel" type="text" name="memorySpeeds" id="memorySpeeds">
            <label for="memoryType">Memory type:</label>
            <input ngModel #memoryType="ngModel" type="text" name="memoryType" id="memoryType">
            <label for="timings">Timings:</label>
            <input ngModel #timings="ngModel" type="text" name="timings" id="timings">
            <label for="platform">Memory platform:</label>
            <select ngModel="desktop" #platform="ngModel" name="platform" id="platform">
                <option value="desktop" selected>desktop</option>
                <option value="mobile">mobile</option>
            </select>
        </div>
        <div class="form" *ngIf="selectedPart == 'hdd'">
            <label for="capacity">Capacity:</label>
            <input ngModel #capacity="ngModel" type="number" name="capacity" id="capacity">
            <label for="readSpeed">Read speed:</label>
            <input ngModel #readSpeed="ngModel" type="number" name="readSpeed" id="readSpeed">
            <label for="writeSpeed">Write speed:</label>
            <input ngModel #writeSpeed="ngModel" type="number" name="writeSpeed" id="writeSpeed">
            <label for="randomRead">Random read IOPS:</label>
            <input ngModel #randomRead="ngModel" type="number" name="randomRead" id="randomRead">
            <label for="randomWrite">Random write IOPS:</label>
            <input ngModel #randomWrite="ngModel" type="number" name="randomWrite" id="randomWrite">
            <label for="mtbf">MTBF:</label>
            <input ngModel #mtbf="ngModel" type="number" name="mtbf" id="mtbf">
            <label for="interface">Interface:</label>
            <input ngModel #interface="ngModel" type="text" name="interface" id="interface">
            <label for="formFactor">Form factor:</label>
            <input ngModel #formFactor="ngModel" type="text" name="formFactor" id="formFactor">
            <label for="type">Type:</label>
            <select ngModel="hdd" #type="ngModel" name="type" id="type">
                <option value="hdd" selected>HDD</option>
                <option value="ssd">SSD</option>
            </select>
        </div>
        <label for="warranty">Warranty:</label>
        <input ngModel #warranty="ngModel" type="number" name="warranty" id="warranty">
        <label for="image">Images:</label>
        <input (change)="onFileSelected($event)" type="file" name="image" id="image" multiple>
        <label for="price">Price:</label>
        <input ngModel #price="ngModel" type="number" name="price" id="price">
        <input type="submit" value="Create">
    </form>
</div>