<form>
    <label for="component">Choose component:</label>
    <select [(ngModel)]="selectedPart" (ngModelChange)="getComponent($event)" name="component" id="component">
        <option value="processor">Processor</option>
        <option value="memory">Memory</option>
        <option value="hdd">HDD/SSD</option>
        <option value="vga">Graphics</option>
        <option value="motherboard">Motherboard</option>
        <option value="case">Case</option>
    </select>
</form>
<div class="form-container">
    <app-create-processor *ngIf="selectedPart == 'processor'"></app-create-processor>
    <app-create-vga *ngIf="selectedPart == 'vga'"></app-create-vga>
    <app-create-motherboard *ngIf="selectedPart == 'motherboard'"></app-create-motherboard>
    <app-create-memory *ngIf="selectedPart == 'memory'"></app-create-memory>
    <app-create-hdd *ngIf="selectedPart == 'hdd'"></app-create-hdd>
    <app-create-case *ngIf="selectedPart == 'case'"></app-create-case>
</div>