<form>
    <label for="component">Choose component:</label>
    <select [(ngModel)]="selectedPart" (ngModelChange)="getComponent($event)" name="component" id="component">
        <option value="processor">Processor</option>
        <option value="memory">Memory</option>
        <option value="hdd">HDD/SSD</option>
        <option value="vga">Graphics</option>
        <option value="motherboard">Motherboard</option>
        <option value="case">Case</option>
        <option value="psu">PSU</option>
        <option value="cooler">Cooler</option>
    </select>
</form>
<div class="form-container">
    <app-create-processor *ngIf="selectedPart == 'processor'" (submitForm)="onSubmit($event)"
        (submitFiles)="onFilesSubmitted($event)"></app-create-processor>
    <app-create-vga *ngIf="selectedPart == 'vga'" (submitForm)="onSubmit($event)"
        (submitFiles)="onFilesSubmitted($event)"></app-create-vga>
    <app-create-motherboard *ngIf="selectedPart == 'motherboard'" (submitForm)="onSubmit($event)"
        (submitFiles)="onFilesSubmitted($event)"></app-create-motherboard>
    <app-create-memory *ngIf="selectedPart == 'memory'" (submitForm)="onSubmit($event)"
        (submitFiles)="onFilesSubmitted($event)"></app-create-memory>
    <app-create-hdd *ngIf="selectedPart == 'hdd'" (submitForm)="onSubmit($event)"
        (submitFiles)="onFilesSubmitted($event)"></app-create-hdd>
    <app-create-case *ngIf="selectedPart == 'case'" (submitForm)="onSubmit($event)"
        (submitFiles)="onFilesSubmitted($event)"></app-create-case>
    <app-create-power-supply *ngIf="selectedPart == 'psu'" (submitForm)="onSubmit($event)"
        (submitFiles)="onFilesSubmitted($event)"></app-create-power-supply>
    <app-create-cooler *ngIf="selectedPart == 'cooler'" (submitForm)="onSubmit($event)"
        (submitFiles)="onFilesSubmitted($event)"></app-create-cooler>
</div>