<div class="container">
    <div class="card">
        <a routerLink="/components/processors">
            <img src="../../../assets/processor.jpg" alt="processor-image">
            <h3>Processors ({{processorCount}})</h3>
        </a>
    </div>
    <div class="card">
        <a routerLink="/components/vga">
            <img src="../../../assets//vga.jpg" alt="video-card-image">
            <h3>Video Cards ({{vgaCount}})</h3>
        </a>
    </div>
    <div class="card">
        <a routerLink="/components/motherboards">
            <img src="../../../assets/motherboard.jpg" alt="motherboard-image">
            <h3>Motherboards ({{MBCount}})</h3>
        </a>
    </div>
    <div class="card">
        <a routerLink="/components/memory">
            <img src="../../../assets/memory.jpg" alt="memory-image">
            <h3>Memory ({{memoryCount}})</h3>
        </a>
    </div>
    <div class="card">
        <a routerLink="/components/storage">
            <img src="../../../assets/storage.jpg" alt="hdd-image">
            <h3>Storage ({{storageCount}})</h3>
        </a>
    </div>
</div>