<div class="notifications">
    <app-spinner *ngIf="isLoading"></app-spinner>
    <app-notification *ngIf="message && msgType" [type]="msgType" [message]="message"></app-notification>
</div>
<div class="container" *ngIf="!isLoading && products.length > 0">
    <app-aside></app-aside>
    <div class="products" *ngIf="productType && products.length > 0">
        <app-product-list-item *ngFor="let product of products" [product]="product" [type]="productType">
        </app-product-list-item>
    </div>
</div>