.container {
    align-items: flex-start;
}

.products {
    flex-basis: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0 20px;
    margin: 0;
    padding-left: 40px;
}

.notifications {
    display: flex;
    align-items: center;
    justify-content: center;
}