@import "../../shared/variables.scss";
:host {
    flex-basis: 80%;
}

.container {
    width: 100%;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid $primary-color;
    list-style: none;
    padding: 10px;
}

ul li {
    position: relative;
    width: 250px;
    text-align: center;
}

form {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

input,
select {
    flex-basis: 30%;
    margin: 20px 0 0 0;
}

label {
    flex-basis: 15%;
    margin: 20px 0 0 20px;
}

input[type="submit"] {
    background: $primary-color;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    width: 200px;
}

input[type="email"],
input[type="password"] {
    height: 2rem;
    padding: 14px;
}

.checkbox {
    flex-basis: 100%;
    margin-top: 0;
}

#submit-container {
    flex-basis: 100%;
    text-align: center;
}