<div class="form-container">
    <form (ngSubmit)="onSubmit()" #f="ngForm" enctype="multipart/form-data">
        <label for="brand">Brand:</label>
        <input ngModel #brand="ngModel" type="text" name="brand" id="brand">
        <label for="model">Model:</label>
        <input ngModel #model="ngModel" type="text" name="model" id="model">
        <label for="cores">Cores:</label>
        <input ngModel #cores="ngModel" type="number" name="cores" id="cores">
        <label for="threads">Threads:</label>
        <input ngModel #threads="ngModel" type="number" name="threads" id="threads">
        <label for="baseClock">Base Clock:</label>
        <input ngModel #base="ngModel" type="number" name="baseClock" id="baseClock">
        <label for="boostClock">Boost Clock:</label>
        <input ngModel #boost="ngModel" type="number" name="boostClock" id="boostClock">
        <label for="cache">Cache:</label>
        <input ngModel #cache="ngModel" type="number" name="cache" id="cache">
        <label for="box" class="checkbox">
            <input ngModel #box type="checkbox" name="box" id="box"> Box cooler included
        </label>
        <label for="warranty">Warranty:</label>
        <input ngModel #warranty="ngModel" type="number" name="warranty" id="warranty">
        <label for="image">Images:</label>
        <input (change)="onFileSelected($event)" type="file" name="image" id="image" multiple>
        <label for="price">Price:</label>
        <input ngModel #price="ngModel" type="number" name="price" id="price">
        <label for="promoPrice">Promo price:</label>
        <input ngModel #promoPrice="ngModel" type="number" name="promoPrice" id="promoPrice">
        <label for="quantity">Quantity:</label>
        <input ngModel #quantity="ngModel" type="number" name="quantity" id="quantity">
        <input type="submit" value="Create">
    </form>
</div>