<div class="container">
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <label for="proccessor">Processor:</label>
        <input type="text" name="processor" id="processor">
        <label for="memory">Memory:</label>
        <input type="text" name="memory" id="memory">
        <label for="storage">Storage:</label>
        <input type="text" name="storage" id="storage">
        <label for="graphics">Graphics:</label>
        <input type="text" name="graphics" id="graphics">
        <label for="display">Display:</label>
        <input type="text" name="display" id="display">
        <label for="ports">Ports:</label>
        <input type="text" name="ports" id="ports">
        <label for="weight">Weight:</label>
        <input type="number" name="weight" id="weight">
        <label for="color">Color:</label>
        <input type="text" name="color" id="color">
        <label for="dimensions">Dimensions:</label>
        <input type="text" name="dimensions" id="dimensions">
        <label for="battery">Battery:</label>
        <input type="text" name="battery" id="battery">
        <label for="OS">Operation system:</label>
        <input type="text" name="OS" id="OS">
        <label for="price">Price:</label>
        <input type="number" name="price" id="price">
        <input type="submit" value="Create">
    </form>
</div>
