<div class="order-container" (click)="onItemClick()">
    <div class="order-id">Order id: <strong>{{order?._id}}</strong></div>
    <div class="order-status">Status: <span
            [ngClass]="order?.status == 'pending' ? 'pending' : order?.status == 'sent' ? 'sent' : 'completed'">{{order?.status}}</span>
    </div>
    <div class="content" *ngIf="isVisible">
        <a routerLink="/{{product?.onModel | productType}}/{{product.product._id}}" class="content-product"
            *ngFor="let product of order?.products">
            <img src="{{product.product.images[0] | httpMixedContent }}" alt="product-image"
                class="content-product-image">
            <div class="content-product-title">{{product.product.brand}} {{product.product.model}}</div>
            <div class="content-product-quantity">Quantity: <strong>{{product.purchaseQuantity}}</strong></div>
            <div class="content-product-price">Price: <strong>$ {{product.purchasePrice}}</strong></div>
        </a>
        <div class="order-subinfo">
            <div class="order-date">Order date: <strong>{{order!.createdAt | date}}</strong></div>
            <div class="order-price">
                <div class="order-price-delivery">
                    Delivery: <strong>$ {{ order?.deliveryPrice }}</strong>
                </div>
                <div class="order-price-total">Total price: <strong>$ {{order?.totalPrice}}</strong></div>
            </div>
        </div>
    </div>
</div>