<form (ngSubmit)="onSubmit()" #f="ngForm">
    <label for="startDate">From:</label>
    <input ngModel type="date" id="startDate" name="startDate" [ngModel]='startDate'>
    <label for="endDate">To:</label>
    <input ngModel type="date" id="endDate" name="endDate" [ngModel]="endDate">
    <input type="submit" value="Search">
</form>
<div *ngFor="let order of orders">
    <div class="order">
        <div class="order-title">Order id: {{order._id}}</div>
        <div class="order-title">User id: {{order.user}}</div>
        <div class="order-status">Status: <strong>{{order?.status}}</strong></div>
        <button class="order-btn-delete" (click)="onDeleteOrder(order)">X</button>
        <a routerLink="/{{product?.onModel | productType}}/{{product.product._id}}" class="order-product"
            *ngFor="let product of order?.products">
            <div class="order-product-title">{{product.product.brand}} {{product.product.model}}</div>
            <div class="order-product-quantity">Quantity: <strong>{{product.purchaseQuantity}}</strong></div>
            <div class="order-product-price">Price: <strong>$ {{product.purchasePrice}}</strong></div>
        </a>
        <div class="order-subinfo">
            <div class="order-date">Order date: <strong>{{order!.createdAt | date}}</strong></div>
            <div class="order-price">
                <div class="order-price-delivery">
                    Delivery: <strong>$ {{ order?.deliveryPrice }}</strong>
                </div>
                <div class="order-price-total">Total price: <strong>$ {{order?.totalPrice}}</strong></div>
            </div>
        </div>
    </div>
</div>
<div class="modal" *ngIf="showModal">
    <div class="modal-confirmation">
        <h4>Confirm order delete?</h4>
        <button class="modal-btn-confirm" (click)="onConfirmedDelete()">Confirm</button>
        <button class="modal-btn-cancel" (click)="onCancelClick()">Cancel</button>
    </div>
</div>
<app-paginator [count]="count" [itemsPerPage]="10" *ngIf="count > 10"></app-paginator>
