@import "../../shared/variables.scss";

.content {
    flex-basis: 60%;
}

.parameters {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.parameter {
    font-weight: 600;
}

.parameter-square {
    font-size: 8px;
    position: absolute;
}

.notificaiotns {
    display: flex;
    align-items: center;
    justify-content: center;
}

app-notification {
    position: fixed;
    right: 50px;
    top: 50px;
    z-index: 2;
}

@media (max-width: 767.98px) {
    .container {
        flex-direction: column;
    }

    .content h2 {
        text-align: center;
    }

    .parameter {
        width: 110px;
    }

    app-notification {
        right: 30px;
        max-width: 300px;
    }
}
