<div class="container">
    <ul>
        <li><a routerLink="/auth/login">Login</a></li>
        <li class="active"><a routerLink="/register">Register</a></li>
    </ul>
    <app-spinner *ngIf="isLoading"></app-spinner>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
        <input formControlName="email" type="email" name="email" placeholder="email">
        <div class="error"
            *ngIf="(registerForm.get('email')?.touched || registerForm.get('email')?.dirty) && registerForm.get('email')?.errors?.required">
            Email is required!
        </div>
        <div class="error"
            *ngIf="(registerForm.get('email')?.touched || registerForm.get('email')?.dirty) && registerForm.get('email')?.errors?.invalidEmail">
            Email is invalid!
        </div>
        <input formControlName="password" type="password" name="password" placeholder="password">
        <div class="error"
            *ngIf="(registerForm.get('password')?.touched || registerForm.get('password')?.dirty) && registerForm.get('password')?.errors?.required">
            Password is required!
        </div>
        <div class="error"
            *ngIf="(registerForm.get('password')?.touched || registerForm.get('password')?.dirty) && registerForm.get('password')?.errors?.minLength">
            Password must be at least 8 characters long!
        </div>
        <input formControlName="rePass" type="password" name="rePass" id="rePass" placeholder="repeat password">
        <div class="error"
            *ngIf="(registerForm.get('rePass')?.touched || registerForm.get('rePass')?.dirty) && registerForm.get('rePass')?.errors?.sameValue">
            Passwords don`t match!
        </div>
        <div class="error"
            *ngIf="(registerForm.get('rePass')?.touched || registerForm.get('rePass')?.dirty) && registerForm.get('rePass')?.errors?.required">
            Repeat password is required!
        </div>
        <div class="error"
            *ngIf="(registerForm.get('rePass')?.touched || registerForm.get('rePass')?.dirty) && registerForm.get('rePass')?.errors?.minLength">
            Repeat password must be at least 8 characters long!
        </div>
        <label for="terms">
            <input formControlName="terms" type="checkbox" name="terms" id="terms">I agree with <a
                routerLink="/terms-and-conditions">terms and conditions</a> of PC-World
        </label>
        <app-notification (closeNotification)="onCloseNotification()" *ngIf="error.length !== 0" [message]="error"
            [type]="'error'"></app-notification>
        <input type="submit" value="Register">
    </form>
</div>