<div class="container">
    <form (ngSubmit)="onSubmit()" #f="ngForm" enctype="multipart/form-data">
        <label for="brand">Brand:</label>
        <input ngModel type="text" name="brand" id="brand">
        <label for="model">Model:</label>
        <input ngModel type="text" name="model" id="model">
        <label for="type">Display type:</label>
        <input ngModel type="text" name="type" id="type">
        <label for="size">Display size:</label>
        <input ngModel type="number" name="size" id="size">
        <label for="resolution">Display resolution:</label>
        <input ngModel type="text" name="resolution" id="resolution">
        <label for="refreshRate">Display refresh rate:</label>
        <input ngModel type="number" name="refreshRate" id="refreshRate">
        <label for="responseTime">Display response time:</label>
        <input ngModel type="number" name="responseTime" id="responseTime">
        <label for="brightness">Brightness:</label>
        <input ngModel type="number" name="brightness" id="brightness">
        <label for="ports">Ports:</label>
        <input ngModel type="text" name="ports" id="ports">
        <label for="warranty">Warranty:</label>
        <input ngModel type="number" name="warranty" id="warranty">
        <label for="image">Images:</label>
        <input (change)="onFileSelected($event)" type="file" name="image" id="image" multiple>
        <label for="price">Price:</label>
        <input ngModel type="number" name="price" id="price">
        <label for="quantity">Quantity:</label>
        <input ngModel type="number" name="quantity" id="quantity">
        <div id="submit-container">
            <input type="submit" value="Create">
        </div>
    </form>
</div>