<div class="card-container">
    <a routerLink="/notebooks/{{notebook._id}}">
        <div class="card">
            <img src="{{notebook.images[0]}}" alt="notebook-image">
            <h3>{{notebook.brand}} {{notebook.model}}</h3>
            <div class="parameters">
                <div class="parameter">
                    <span>Processor: </span>
                    <strong>{{notebook.processorBrand}} {{notebook.processorModel}}</strong>
                </div>
                <div class="parameter">
                    <span>Video card: </span>
                    <strong>{{notebook.graphics}}</strong>
                </div>
                <div class="parameter">
                    <span>Memory: </span>
                    <strong>{{notebook.memoryCapacity}}GB {{notebook.memoryType}}</strong>
                </div>
                <div class="parameter">
                    <span>Storage: </span>
                    <strong>{{notebook.storage}}</strong>
                </div>
                <div class="parameter">
                    <span>Display: </span>
                    <strong>{{notebook.displaySize}}'' {{notebook.displayResolution}}</strong>
                </div>
            </div>
            <div class="btn-container">
                <div class="old-price">
                    <span *ngIf="notebook.promoPrice !== 0">$ {{notebook.price}}</span>
                </div>
                <button class="btn-primary"></button>
                <div class="promo-price" *ngIf="notebook.promoPrice">
                    <span>$ {{notebook.promoPrice}}</span>
                </div>
                <div class="price" *ngIf="!notebook.promoPrice">
                    <span>$ {{notebook.price}}</span>
                </div>
                <button class="btn-secondary">Details</button>
            </div>
        </div>
    </a>
    <button (click)="onAddToCart()" class="btn-primary" id="add-btn">Add to cart</button>
</div>