<a routerLink="/components/processors">
    <div class="card">
        <img src="http://res.cloudinary.com/dex8g0z5j/image/upload/v1626083168/msfvzasup93gvsycdywl.png" alt="notebook-image">
        <h3>Lenovo Yoga Slim 7 Pro</h3>
        <div class="parameter">
            <span>Processor: </span>
            <strong>AMD Ryzen™ 7 5800H</strong>
        </div>
        <div class="parameter">
            <span>Video card: </span>
            <strong>AMD Radeon Graphics</strong>
        </div>
        <div class="parameter">
            <span>Memory: </span>
            <strong>16GB DDR4</strong>
        </div>
        <div class="parameter">
            <span>Storage: </span>
            <strong>512GB</strong>
        </div>
        <div class="parameter">
            <span>Display: </span>
            <strong>14'' 2880 x 1800</strong>
        </div>
    </div>
</a>