@import "../../shared/variables.scss";
:host {
    font-size: 0.8rem;
}

.card-container {
    position: relative;
}

.card {
    padding: 20px;
    box-shadow: 2px 2px 17px 2px rgba(0, 0, 0, 0.31);
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
}

.card img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    object-fit: contain;
}

a {
    text-decoration: none;
    color: black;
}

.parameters {
    height: 120px;
}

.parameter {
    text-align: start;
}

.price {
    text-align: start;
    font-size: 1.5rem;
    font-weight: 800;
}

.old-price,
.promo-price {
    text-align: start;
    font-size: 1.5rem;
    font-weight: 800;
}

.old-price {
    color: gray;
    position: relative;
}

.old-price > span::after {
    content: "";
    background-color: gray;
    width: 60px;
    height: 2px;
    position: absolute;
    left: 18px;
    transform: rotate(160deg);
    top: 16px;
}

.promo-price {
    color: $primary-color;
}

.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
}

.btn-primary,
.btn-secondary {
    background: $primary-color;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    color: white;
    height: 35px;
}

.btn-secondary {
    background: $secondary-color;
}

#add-btn {
    position: absolute;
    right: 20px;
    bottom: 65px;
    width: 111px;
}