:host {
    flex-basis: 50%;
    padding: 20px;
    box-shadow: 2px 2px 17px 2px rgba(0, 0, 0, 0.31);
    margin-top: 20px;
    border-radius: 10px;
    text-align: right;
}

.share-container {
    position: relative;
}

#parts-share {
    width: 100%;
}

app-spinner {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}