@import "../../shared/variables.scss";
app-user-aside {
    flex-basis: 20%;
}

.container {
    align-items: flex-start;
}

.products-container {
    flex-basis: 80%;
    padding: 20px;
    box-shadow: 2px 2px 17px 2px rgba(0, 0, 0, 0.31);
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
}

.products-container h3 {
    margin: 0;
    border-bottom: 1px solid lightgray;
}

.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    border-bottom: 1px solid lightgray;
}

.product img {
    width: 80px;
    height: 80px;
    margin: 20px;
    object-fit: contain;
}

.product-link {
    text-decoration: none;
    color: black;
    flex-basis: 50%;
}

.product-title {
    display: flex;
    align-items: center;
}

.product-title p {
    margin-left: 20px;
}

.prices {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    background: $primary-color;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    margin: 0 10px;
}

.tooltip-container {
    position: relative;
}

.tooltip {
    opacity: 0;
    width: 200px;
    background-color: $secondary-color;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    left: -190px;
    top: -36px;
    position: absolute;
    z-index: 1;
    transition: 500ms all;
}

.tooltip-container > fa-icon:hover + .tooltip {
    opacity: 1;
}

.green,
.yellow,
.red {
    color: green;
    left: 10px;
    top: 10px;
    font-size: 1.2rem;
    margin: 0 10px;
}

.yellow {
    color: #ffc107;
}

.red {
    color: $primary-color;
}

.btn-disabled {
    background: gray;
    cursor: not-allowed;
}

.btn-remove {
    background: $secondary-color;
    font-weight: bolder;
}

.old-price {
    color: gray;
    position: relative;
    margin-right: 20px;
}

.old-price::after {
    content: "";
    background-color: gray;
    width: 100%;
    height: 2px;
    position: absolute;
    right: 0;
    transform: rotate(160deg);
    top: 16px;
}

.price-container {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.promo-price,
.old-price,
.price {
    text-align: start;
    font-size: 1.5rem;
    font-weight: 800;
}

.promo-price {
    color: $primary-color;
}

.old-price-sign {
    text-align: start;
    font-size: 1.5rem;
    font-weight: 800;
    color: gray;
}

button:disabled {
    background: gray;
}

app-spinner {
    flex-basis: 80%;
}

app-user-aside {
    flex-basis: 17%;
}

@media (max-width: 1365.98px) {
    .product-link {
        flex-basis: 45%;
    }
}

@media (max-width: 767.98px) {
    .container {
        flex-direction: column;
    }

    .products-container {
        width: 100%;
    }

    .product-title,
    .product {
        flex-direction: column;
    }

    .product-title p {
        margin: 0 0 10px 0;
    }

    .prices {
        margin-bottom: 10px;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .price-container {
        margin: 0;
        flex-basis: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-remove {
        margin: 10px 0;
    }

    .tooltip {
        left: -68px;
    }
}
