<div class="products-container">
    <div class="products-selects">
        <select name="products" id="products-select" [(ngModel)]="selectedProduct">
            <option value="notebook">Notebook</option>
            <option value="monitor">Monitor</option>
            <option value="processor">Processor</option>
            <option value="vga">Video card</option>
            <option value="hdd">HDD</option>
            <option value="ssd">SSD</option>
            <option value="memory">Memory</option>
            <option value="motherboard">Motherboard</option>
            <option value="case">Case</option>
            <option value="psu">PSU</option>
            <option value="cooler">Cooler</option>
        </select>
        <label for="promotion">Promotion:</label>
        <input type="checkbox" id="promotion" name="" [(ngModel)]="selectedPromotion">
        <button (click)="onSelectClick()">Select</button>
    </div>
    <div class="products">
        <div *ngFor="let product of products" class="product">
            <a routerLink="/dashboard/edit-products/{{link}}/{{fetchedProduct}}s/{{product._id}}">
                {{product.brand}} {{product.model}}
            </a>
        </div>
    </div>
</div>
<app-paginator [productType]="selectedProduct" *ngIf="count > 16"></app-paginator>