<div class="products-container">
    <div class="products-selects">
        <select name="products" id="products-select" [(ngModel)]="selectedProduct">
            <option value="notebooks">Notebook</option>
            <option value="monitors">Monitor</option>
            <option value="processors">Processor</option>
            <option value="vgas">Video card</option>
            <option value="hdds">HDD</option>
            <option value="ssds">SSD</option>
            <option value="memories">Memory</option>
            <option value="motherboards">Motherboard</option>
            <option value="cases">Case</option>
            <option value="psus">PSU</option>
            <option value="coolers">Cooler</option>
        </select>
        <label for="promotion">Promotion:</label>
        <input type="checkbox" id="promotion" name="" [(ngModel)]="selectedPromotion">
        <button (click)="onSelectClick()">Select</button>
    </div>
    <div class="products">
        <div *ngFor="let product of products" class="product">
            <a routerLink="/dashboard/edit-products/{{link}}/{{fetchedProduct}}/{{product._id}}">
                {{product.brand}} {{product.model}}
            </a>
        </div>
    </div>
</div>
<app-paginator [productType]="selectedProduct" *ngIf="count > 16"></app-paginator>