<footer>
    <div class="container">
        <ul class="links">
            <li><a routerLink="/contacts">Contacts</a></li>
            <li><a routerLink="/about">About us</a></li>
            <li><a routerLink="/terms-and-conditions">Terms and conditions</a></li>
        </ul>
        <ul>
            <li>Customer service:</li>
            <li>0 700 00 000</li>
            <li>09:00 - 18:00 Monday - Friday</li>
        </ul>
        <ul class="social">
            <li><a href="https://facebook.com" target="_blank">
                    <fa-icon [icon]="faFacebookSquare" size="lg"></fa-icon>
                </a></li>
            <li><a href="https://instagram.com" target="_blank">
                    <fa-icon [icon]="faInstagramSquare" size="lg"></fa-icon>
                </a></li>
            <li><a href="https://twitter.com" target="_blank">
                    <fa-icon [icon]="faTwitterSquare" size="lg"></fa-icon>
                </a></li>
        </ul>
        <p class="end">&copy; This site is made with educational purpose only! No rights reserved!</p>
    </div>
</footer>