<header>
    <nav class="container">
        <article>
            <a routerLink="/" class="logo-link">
                <fa-icon [icon]="faDesktop" size="lg"></fa-icon>
                <h2>PC World</h2>
            </a>
        </article>
        <ul>
            <li>
                <a routerLink="/dashboard" class="user" *ngIf="(user$ | async)?.isAdmin">
                    <fa-icon [icon]="faCogs" size="lg"></fa-icon>
                </a>
            </li>
            <li class="dropdown">
                <a routerLink="/auth/login" class="user" *ngIf="!(user$ | async)">
                    <fa-icon [icon]="faUser" size="lg"></fa-icon>
                </a>
                <a routerLink="/users/{{(user$ | async)?._id}}" class="user dropbtn" *ngIf="user$ | async">
                    <fa-icon [icon]="faUser" size="lg"></fa-icon>
                </a>
                <div class="dropdown-content" *ngIf="user$ | async">
                    <div class="logout" routerLink="/users/{{(user$ | async)?._id}}">
                        Profile
                    </div>
                    <div class="logout" (click)="onLogout()">logout</div>
                </div>
            </li>
            <li>
                <a routerLink="/users/cart" class="cart">
                    <fa-icon [icon]="faShoppingCart" size="lg"></fa-icon>
                    <div *ngIf="(cart$ | async)?.length! > 0" class="quantity-cart">{{cartItemsCount}}
                    </div>
                </a>
            </li>
            <li>
                <a routerLink="/users/wishlist" class="wishlist">
                    <fa-icon [icon]="faHeart" size="lg"></fa-icon>
                    <div *ngIf="(wishlist$ | async)?.length! > 0" class="quantity-wishlist">{{(wishlist$ |
                        async)?.length}}</div>
                </a>
            </li>
        </ul>
        <div class="side-menu">
            <div class="side-menu-background" [ngClass]=" isToggled ? 'change' : ''" (click)="onToggleClick()"></div>
            <div class="toggle" [ngClass]=" isToggled ? 'change' : ''" (click)="onToggleClick()">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <div id="sidebar" [ngClass]=" isToggled ? 'change' : ''">
                <div id="myLinks">
                    <a routerLink="/" class="link" (click)="onToggleClick()">
                        Home
                    </a>
                    <a routerLink="/dashboard" class="link" *ngIf="(user$ | async)?.isAdmin" (click)="onToggleClick()">
                        Dashboard
                    </a>
                    <a routerLink="/auth/login" class="link" *ngIf="!(user$ | async)" (click)="onToggleClick()">
                        Login
                    </a>
                    <a routerLink="/auth/register" class="link" *ngIf="!(user$ | async)" (click)="onToggleClick()">
                        Register
                    </a>
                    <a routerLink="/users/{{(user$ | async)?._id}}" *ngIf="(user$ | async)" class="link"
                        (click)="onToggleClick()">
                        Profile
                    </a>
                    <a routerLink="/users/cart" class="link" (click)="onToggleClick()">
                        Shopping cart
                    </a>
                    <a routerLink="/users/wishlist" class="link" (click)="onToggleClick()">
                        Wishlist
                    </a>
                    <a routerLink="/about" class="link" (click)="onToggleClick()">About</a>
                    <a routerLink="/terms-and-conditions" class="link" *ngIf="(user$ | async)"
                        (click)="onToggleClick()">Terms and conditions</a>
                    <a class="link" (click)="onLogout()" *ngIf="(user$ | async)">Logout</a>
                </div>
            </div>
        </div>
    </nav>
</header>