<header>
    <div class="container">
        <article>
            <a routerLink="/" class="logo-link">
                <fa-icon [icon]="faDesktop" size="lg"></fa-icon>
                <h2>PC World</h2>
            </a>
        </article>
        <ul>
            <li>
                <fa-icon [icon]="faSearch" size="lg"></fa-icon>
            </li>
            <li>
                <a routerLink="/dashboard" class="user" *ngIf="(user$ | async)?.isAdmin">
                    Dashboard
                </a>
                <a routerLink="/auth/login" class="user" *ngIf="!(user$ | async)">
                    <fa-icon [icon]="faUser" size="lg"></fa-icon>
                </a>
                <a routerLink="/users/{{(user$ | async)?._id}}" class="user" *ngIf="user$ | async">
                    <fa-icon [icon]="faUser" size="lg"></fa-icon>
                </a>
            </li>
            <li>
                <a routerLink="/users/cart" class="cart">
                    <fa-icon [icon]="faShoppingCart" size="lg"></fa-icon>
                    <div *ngIf="(cart$ | async)?.length! > 0" class="quantity-cart">{{cartItemsCount}}
                    </div>
                </a>
            </li>
            <li>
                <a routerLink="/users/wishlist" class="wishlist">
                    <fa-icon [icon]="faHeart" size="lg"></fa-icon>
                    <div *ngIf="(wishlist$ | async)?.length! > 0" class="quantity-wishlist">{{(wishlist$ |
                        async)?.length}}</div>
                </a>
            </li>
        </ul>
    </div>
</header>