<header>
    <div class="container">
        <article>
            <a routerLink="/" class="logo-link">
                <fa-icon [icon]="faDesktop" size="lg"></fa-icon>
                <h2>PC World</h2>
            </a>
        </article>
        <ul>
            <li>
                <fa-icon [icon]="faSearch" size="lg"></fa-icon>
            </li>
            <li>
                <a routerLink="/notebooks/create" class="user" *ngIf="user$ | async">
                    Create notebook
                </a>
                <a routerLink="/components/create" class="user" *ngIf="user$ | async">
                    Create component
                </a>
                <a routerLink="/login" class="user" *ngIf="!(user$ | async)">
                    <fa-icon [icon]="faUser" size="lg"></fa-icon>
                </a>
                <a routerLink="/profile/{{(user$ | async)?._id}}" class="user" *ngIf="user$ | async">
                    <fa-icon [icon]="faUser" size="lg"></fa-icon>
                </a>
            </li>
            <li>
                <a routerLink="/cart" class="cart">
                    <fa-icon [icon]="faShoppingCart" size="lg"></fa-icon>
                    <div class="quantity">2</div>
                </a>
            </li>
            <li>
                <a routerLink="/favorites" class="favorites">
                    <fa-icon [icon]="faHeart" size="lg"></fa-icon>
                    <div class="quantity">2</div>
                </a>
            </li>
        </ul>
    </div>
</header>