@import "../../shared/variables.scss";
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header fa-icon {
    font-size: 1.1rem;
    padding: 0 10px;
}

header > article {
    display: flex;
    align-items: center;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header ul li {
    padding: 5px 20px;
    font-size: 1.2rem;
}

header ul li a {
    text-decoration: none;
    color: black;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.logo-link fa-icon {
    color: $primary-color;
}

.cart,
.wishlist,
.user {
    position: relative;
}

.quantity-cart,
.quantity-wishlist {
    background: $primary-color;
    border-radius: 10px;
    color: white;
    padding: 0 3px;
    display: block;
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    text-align: center;
    min-width: 20px;
    height: 20px;
    pointer-events: none;
    top: -8px;
    right: -5px;
}

.quantity-wishlist {
    background: $secondary-color;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    box-shadow: 2px 2px 17px 2px rgba(0, 0, 0, 0.31);
    z-index: 1;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.logout {
    text-align: center;
    cursor: pointer;
    padding: 5px 10px;
}

.logout:hover {
    background-color: $secondary-color;
    color: white;
}

.logout:nth-child(1) {
    border-radius: 5px 5px 0 0;
}

.logout:nth-child(2) {
    border-radius: 0 0 5px 5px;
}

.side-menu {
    display: none;
}

.toggle {
    z-index: 10;
    position: absolute;
    right: 10px;
    top: 15px;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 4px;
    background-color: #333;
    margin: 6px 0;
    transition: ease 0.4s;
    z-index: 10;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 7px);
    transform: rotate(-45deg) translate(-7px, 7px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -7px);
    transform: rotate(45deg) translate(-7px, -7px);
}

.change#sidebar {
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
}

#sidebar {
    position: absolute;
    top: 0;
    right: -250px;
    transition: ease 0.4s;
    display: flex;
    flex-wrap: wrap;
    background: white;
    height: 100%;
    width: 250px;
    z-index: 5;
    transition: ease 0.4s;
}

.side-menu-background {
    opacity: 0;
    position: absolute;
    transition: opacity 0.4s ease;
}

.change.side-menu-background {
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.31);
    z-index: 4;
    transition: opacity 0.4s ease;
}

#myLinks {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 50px;
    width: 250px;
}

.link {
    margin: 10px 0;
    color: black;
    text-decoration: none;
}

@media (max-width: 767.98px) {
    nav ul {
        display: none;
    }
    .side-menu {
        display: block;
    }
}
