<app-spinner *ngIf="isLoading"></app-spinner>
<form [formGroup]="createPromotionForm" (ngSubmit)="onSubmit()" class="create-promotion" *ngIf="!isLoading">
    <label for="promoName">Promo name:<input formControlName="promoName" type="text" name="promoName"
            id="promoName"></label>
    <label for="productsType">Products type:<input formControlName="productsType" type="text" name="productsType"
            id="productsType"></label>
    <label for="expirationDate">Expiration date: <input formControlName="expirationDate" type="text"
            name="expirationDate" id="expirationDate"></label>
    <label for="image">Image: <input (change)="onFileSelected($event)" type="file" name="image" id="image"></label>
    <div class="break"></div>
    <ng-container *ngFor="let productFormGroup of getControls(); let i = index">
        <form [formGroup]="productFormGroup" class="form-inner">
            <label for="productId"> Product ID:</label>
            <input formControlName="productId" type="text" name="productId" id="productId">
            <button type="button" (click)="removeFormControl(i)">X</button>
        </form>
    </ng-container>
    <div class="break"></div>
    <div class="error" *ngIf="error">{{error}}</div>
    <div class="btn-container">
        <button type="button" (click)="addFormControl()">Add product</button>
        <button type="submit" class="btn-submit" [disabled]="createPromotionForm.invalid">Submit</button>
    </div>
</form>