@import "../../../shared/variables.scss";
.create-promotion {
    flex-basis: 80%;
    padding: 20px;
    box-shadow: 2px 2px 17px 2px rgba(0, 0, 0, 0.31);
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

label{
    flex-basis: 12%;
    text-align: left;
    margin: 10px;
}

// .input {
//     flex-basis: 20%;
// }

.form-inner {
    display: flex;
    align-items: center;
    // flex-wrap: wrap;
    flex-basis: 30.9%;
}

.form-inner label {
    flex-basis: 30%;
}

.btn-container {
    flex-basis: 100%;
}

.btn-container button {
    margin: 0 10px;
    background: $secondary-color;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    color: white;
    font-size: 1rem;
}

.btn-container .btn-submit {
    background: $primary-color;
}

.form-inner button {
    background: $primary-color;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.break {
    flex-basis: 100%;
}

.error {
    text-align: center;
    color: $primary-color;
    flex-basis: 100%;
    margin-bottom: 10px;
}

input.ng-touched.ng-invalid {
    border: 1px solid $primary-color;
}

app-spinner {
    flex-basis: 80%;
}

.btn-container button:disabled {
    background: gray;
}