@import '../../shared/variables.scss';
.promo {
    padding: 20px;
    box-shadow: 2px 2px 17px 2px rgba(0, 0, 0, 0.31);
    margin-top: 20px;
    border-radius: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.promo-name {
    display: inline-block;
}

.promo-link {
    padding: 4px 15px;
    color: white;
    background-color: $secondary-color;
    border-radius: 5px;
    margin-left: 20px;
    text-decoration: none;
}

.promo-btn-delete {
    padding: 5px;
    width: 25px;
    text-align: center;
    color: white;
    background-color: $primary-color;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-background {
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.modal-confirmation {
    background: white;
    width: 20%;
    transform: translate(50%, 50%);
    top: 20%;
    position: fixed;
    text-align: center;
    z-index: 15;
}

.modal-btn-confirm, .modal-btn-cancel {
    background: $primary-color;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    right: 45px;
    top: 10px;
    margin: 10px;
}

.modal-btn-cancel {
    background: $secondary-color;
}

app-add-remove-product {
    flex-basis: 100%;
}