@import "../../shared/variables.scss";
.aside {
    width: 100%;
    padding: 20px;
    box-shadow: 2px 2px 17px 2px rgba(0, 0, 0, 0.31);
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
}

.aside-content img {
    width: 100px;
    height: 100px;
}

.red,
.blue {
    background: $primary-color;
    width: 100px;
    border: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    margin: 0 5px;
    text-decoration: none;
    flex-basis: 50%;
}

.blue {
    background: $secondary-color;
}

.anonymous-title {
    margin-bottom: 0;
}

.links-list {
    list-style: none;
    padding: 0;
    text-align: left;
    margin: 0;
}

.links-list li {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.links-list a {
    text-decoration: none;
    color: black;
}

.active,
.active li {
    background: $secondary-color;
    color: white;
}

@media (max-width: 1365.98px) {
    .red,
    .blue {
        padding: 6px;
        font-size: 0.8rem;
    }
}

@media (max-width: 767.98px) {
    :host {
        width: 100%;
    }
}
