@import '../variables.scss';
.modal {
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

form {
    background: white;
    position: absolute;
    z-index: 20;
    top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

label {
    flex-basis: 20%;
}

textarea,
input {
    flex-basis: 70%;
    margin: 10px 0;
}

.new-modal {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.form-title {
    flex-basis: 100%;
    margin-left: 20px;
}

.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
    flex-basis: 70%;
}

.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}

.rating label:last-child {
    position: static;
}

.rating label:nth-child(1) {
    z-index: 5;
}

.rating label:nth-child(2) {
    z-index: 4;
}

.rating label:nth-child(3) {
    z-index: 3;
}

.rating label:nth-child(4) {
    z-index: 2;
}

.rating label:nth-child(5) {
    z-index: 1;
}

.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating label .icon {
    float: left;
    color: transparent;
}

.rating label:last-child .icon {
    color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
    color: $stars-color;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px $stars-color;
}

input[type="submit"], input[type="button"] {
    background: $secondary-color;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    flex-basis: 30%;
    margin: 20px 10px;
}

input[type="button"] {
    background: $primary-color;
}