@import '../variables.scss';
input, label {
    width: 90%;
}

p {
    margin-top: 0;
}

input[type="submit"] {
    margin: 10px 0;
    background: $primary-color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
}